language: node_js
node_js:
  - '8'

cache:
  directories:
    - "node_modules"

env:
  - ENVIRONMENT=testing

before_script:
  - npm install -g yarn
  - yarn global install istanbul coveralls mocha
  - chmod -R 777 tests/

script:
  - yarn test

install:
  - yarn install

after_success:
  - yarn run coveralls
